<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.wall.mo.utils" >

    <uses-permission android:name="android.permission.CAMERA" />
    <!--允许获取网络切换的状态权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--网络连接的权限-->
    <uses-permission android:name="android.permission.INTERNET" />
</manifest>
